a {
    font-size: 26px !important;
}

p {
    font-size: 26px !important;
    color: white;
}

#header {
    position: static !important;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
    height: 70px;
    border-bottom: 5px solid #169976;
}

#footer {
    text-align: center;
    margin-bottom: 5px;
}

#footer-div {
    position: absolute;
    background-color: #4e4e4e;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-top: #169976 2px solid;
}

#content-div {
    display: inline-flex;
    align-items: start;
    flex-direction: row;
    margin: 15px;
    gap: 25px;
}

#index-img {
    border: 10px solid white;
    width: 300px;
    height: auto;
    flex-shrink: 0;
}

#index-div {
    background-color: #4e4e4e;
    border-radius: 15px;
    border: 5px solid #169976;
    flex: 1;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    
}

#index-p {
    padding: 15px;
    font-size: 18px !important;
    flex: 1;
    overflow-wrap: break-word;
}


#content-div2 {
    max-width: fit-content;
    margin-inline: auto;
}

#imgs-div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#gal-img {
    width: 250px;
    height: auto;
}